html {
    margin: 0;
    padding: 0;
    font: 100% "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    padding: 0;
    margin: 0;
    background-color: #ededed
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #73d601;
    height: 5em;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

nav img {
    min-width: 100%;
    margin-right: 0.2em;
}

h1 {
    font-size: 130%;
    text-align: center;
    align-self: center;
    color: #fff;
}

h2 {
    font-size: 140%;
    color: #73d601;
    text-align: center;
}

form h3 {
    width: 100%;
    color: #ffab00;
    margin-bottom: 0.5em;
}

label {
    display: block;
    font-size: 1em;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

input[type="submit"] {
    display: block;
    margin: 1em;
    width: 6em;
    height: 3em;
    font-weight: 600;
    background-color: #ffab00;
    color: #ededed;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

/* Box shadow: https://codepen.io/joostf/pen/vXpkPN */

input[type="submit"]:hover {
    box-shadow: inset 0 -1em rgba(0, 0, 0, .04), 0 0 5px rgba(0, 0, 0, .5);
    transition: all .2s;
}

a {
    display: block;
    text-decoration: underline;
    font-size: 1em;
    margin-bottom: 1em;
    color: #000;

}

form {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: #73d601;
    margin: auto;
    max-width: 500px;
    padding: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    width: 70%;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
    border: none;
}

label {
    width: 40%;
    margin-bottom: 0.25em;
    border: none;
}

label:after {
    content: "*";
    color: red;
}

input {
    width: 80%;
    height: 2em;
    margin-bottom: .5em;
    border: none;
}

form input:focus {
    background-color: #efebeb;
    padding: 0.5em;
}

form input:required {
    background-color: rgba(0, 0, 0, .04)
}

form input:invalid {
    box-shadow: 0 2px 2px red;
}

form input:valid {
    box-shadow: 0 2px 2px green;
}


form input:focus {
    background-color: cornsilk;
}

/* MEDIA QUERIES */

@media screen and (min-width: 40em) {

    form h3 {
        font-size: 1.5em;
    }

    label {
        font-size: 1.3em;
    }



}

/* Desktop Media Queries */

@media screen and (min-width: 70em) {

    form {
        width: 60%;
    }