html {
    margin: 0;
    padding: 0;
    font: 100% "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    background-color: #ededed
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #73d601;
    height: 5em;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
}

nav img {
    padding: 0.3em;
    margin: 0;
    width: 1.5em;
}

h1 {
    font-size: 130%;
    text-align: center;
    align-self: center;
    color: #fff;
}

h3 {
    font-family: "Magistral", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #ededed;
    margin: 0;
}

p {
    font-size: 0.9em;
    color: #fff;
    text-decoration: underline;
    text-align: center;
}

form:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    align-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 0.5em;
    border: 0.2em solid #73d601;
    border-radius: 1em;
    width: 80%;
    height: 2em;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
}

input[type="submit"]{
    background-color: #ffab00;
    color: #ededed;
    width: 6em;
    height: 3em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-weight: 600;
}

input[type="submit"]:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}

form:nth-of-type(2){
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
	color: #ffab00;
}

form  fieldset {
    display: flex;
    justify-content: column;
    font-size: 1.5em;
    color: #ffab00;
    border: none;
    background-color: #fff;
    height: 200px;
    width: 300px;
    max-height: 250px;
    overflow-y: scroll;
    margin: auto;
    border: 0.1em solid #ffab00;
    border-radius: 5%;  
}

form legend{
    color: #73d601;
    font-size: 0.7em;
    position: relative;
    transition:all .25s .25s;
    z-index: 100;
    opacity: 1;
}

form label {
    display: block;
    font-size: 0.6em;
    padding: 0.3em;
    max-height: 150px;
    max-width: 300px;
    position: relative;
    transition: all .25s .25s;
    z-index: 100;
    opacity: 1;
}

form > fieldset.active {
    opacity: 1;
    position: relative;
    z-index: 0;
    transition-delay: .25s;
}

form label.active {
    opacity: 1;
    position: relative;
    transition-delay: .25s;
}

section:first-of-type{
    display: flex;
    flex-direction: row;
}

section > button {
    display: block;
    margin: 1em auto;
    padding: 0.3em;
    width: 40%;
    color: #ededed;
    background-color: #73d601;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: .5em;
}

section > button:hover {
    background: #73cb0b;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}

section > button:focus {
    background: #6bbe09;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    margin: 1.5em auto;
    padding: 1em;
    background-color: #ffab00;
    border-radius: 2em 2em 2em 0;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
}

article:nth-child(even) {
    background-color: #73d601;
}

article > img {
    display: block;
    width: 80%;
    max-width: 100%;
    margin: auto;
    padding: 0.3em;
}

article > footer button{
    margin: 1em auto;
    padding: 1.2rem;
    background-color: #f2f1f1;
    align-content: space-between;
    color: #ededed;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

article footer p {
    display: block;
    align-self: center;
}

button:focus {
    background: #f2f1f1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}

button:hover {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    transition: all .2s;
}

button:active {
    background: #f2f1f1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.55);
    transition: all .2s;
}

/* MEDIA QUERIES */
@media all and (min-width: 40em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 30%;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }
}
    
    article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em 2em 2em 0;
    width: 90%;
    height: 90%;
    background-color: #73d601;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
}

article:nth-child(even) {
    background-color: #ffab00;
}

footer:nth-child(6) {
    display: block;
    width: 100%;
    height: 15em;
    background-image: url("images/footer-mobile.png");
    background-size: cover;
}

}


@media all and (min-width: 70em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30%;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        margin-left: 4em;
        margin-right: 4em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    form  fieldset {
    display: flex;
    justify-content: column;
    font-size: 1.5em;
    color: #ffab00;
    border: none;
    background-color: #fff;
    height: 200px;
    width: 500px;
    max-height: 250px;
    overflow-y: scroll;
    margin: auto;
    border: 0.1em solid #ffab00;
  
}
    
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em 2em 2em 0;
    width: 90%;
    height: 80%;
    background-color: #73d601;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
    }

article:nth-child(even) {
    background-color: #ffab00;
}

footer:nth-child(6) {
    display: block;
    width: 100%;
    height: 19em;
    background-image: url("images/footer-mobile.png");
    background-size: cover;
}

}